/* You can add global styles to this file, and also import other style files */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: white;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container{
	margin-top: 150px;
	margin-left: 150px;
	padding: 1rem;
}
